.box{
    margin-top: 50px;
    background-color: rgb(209, 218, 202);
    border-radius: 10px;
    display: block;
    padding: 1.25rem;
}
.section{
    padding: 3rem 1.5rem;
}
.container{
    margin: auto;
    position: relative;
    width: auto;
}
div{
    display: block;
}
.media{
    align-items: flex-start;
    display: flex;
    text-align: inherit;
}
.media-left, .media-right{
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
}

.image.is-128x128{
    min-height: auto;
    width: 300px;
}

.image{
    display: block;
    position: relative;
}
figure{
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}

.media-content {
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
    text-align: inherit;
}

.image.is-64x64 {
    height: 10%;
    width: 20%;
    background-color: bisque;
}

.image img {
    display: block;
    height: auto;
    width: 100%;
}

dialog:modal {
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}